REACT_APP_FIREBASE_API_KEY="AIzaSyC39nJNLOKTGhn63tOXTLKwQmhPANL1dnE"
REACT_APP_FIREBASE_AUTH_DOMAIN="socialex-41fdc.firebaseapp.com"
REACT_APP_FIREBASE_PROJECT_ID="socialex-41fdc"
REACT_APP_FIREBASE_STORAGE_BUCKET="socialex-41fdc.firebasestorage.app"
REACT_APP_FIREBASE_MESSAGING_SENDER_ID="774378772169"
REACT_APP_FIREBASE_APP_ID="1:774378772169:web:b0d975f5303b71e86b9f18"
REACT_APP_MEASUREMENTID="G-S39NVKJPSP"
REACT_APP_API_URL=http://localhost:6001
REACT_APP_SOCKET_URL=http://localhost:6001